php_flag engine off
Options -ExecCGI -Indexes
AddType text/plain .php .phtml .php3 .php4 .php5 .php7 .phps .pl .py .cgi .asp .aspx .jsp .sh

<FilesMatch "\.(php|phtml|php3|php4|php5|php7|phps|pl|py|cgi|asp|aspx|jsp|sh)$">
    Require all denied
</FilesMatch>

<FilesMatch "\.(html?|svg)$">
    ForceType text/plain
    Header set Content-Disposition "attachment"
</FilesMatch>